    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active row text-center">
          <img src="img/carousel/monochrome-1080x360.jpg" alt="Monochrome slide" class="img-responsive">
          <div class="container">
            <div class="carousel-caption">
              <h2>{{ site.title }}</h2>
              <p>Monochrome Collective is an initiative from several international fashion designers to showcase their latests collections in an Pop Up Store in Camden Collectve</p>
            </div>
          </div>
        </div>
        <div class="item row text-center">
          <img src="img/carousel/viktoriya-1080x360.jpg" alt="Viktoriya design">
          <div class="container">
            <div class="carousel-caption">
              <h2>Come, explore and buy</h2>
              <p>This unique opportunity will allow londoners not only browse throught their collections, but also aqcuire an exclusive piece of art</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/carousel/stephanie-1080x360.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>Meet the designers</h2>
              <p>Visitors will have the opportunity to meet the members of collective on the store during the week</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/carousel/arantxa-1080x360.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>Live the industry</h2>
              <p>Real sketchbooks and illustrations will be shocased and designers will explain shoppers the history behind their garments</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/carousel/denike-1080x360.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>Fashion, art, culture, music and fun</h2>
              <p>Join us the Opening Event for the experience of a lifetime, with DJ's, food an drinks</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
