      <!-- Three columns of text below the carousel -->
      {% for designer in site.designers %}

        {% capture thecycle %}{% cycle 'one', 'two', 'three' %}{% endcapture %}

        {% if thecycle == 'one' and forloop.rindex == 1 %}
          {% assign rowType = 'full' %}

        {% elsif thecycle == 'one' and forloop.rindex == 2 %}
          {% assign rowType = 'double' %}

        {% elsif thecycle == 'two' and forloop.rindex == 1 %}
          {% assign rowType = 'double' %}

        {% else %}
          {% assign rowType = 'normal' %}

        {% endif %}


        {% if thecycle == 'one' %}
          <div class="row">
          {% if rowType == 'double' %}
            <div class="col-lg-2"></div>
          {% endif %}
          {% if rowType == 'full' %}
            <div class="col-lg-4"></div>
          {% endif %}
        {% endif %}

          <div class="col-lg-4">
            <a href="{{ designer.url | remove:'index.html' }}">
              <img class="img-circle" src="{{ "/img/headshot/" | append: designer.teaserImage | prepend: site.baseurl }}" alt="{{ designer.name }}">
              <h2>{{ designer.name }}</h2>
            </a>
            <p>{{ designer.teaserText }}</p>
          </div><!-- /.col-lg-4 -->


          {% if thecycle == 'three' %}
              </div><!-- /.row -->
          {% endif %}

          {% if rowType == 'double' and thecycle == 'two' %}
            <div class="col-lg-2"></div>
            </div><!-- /.row -->
          {% endif %}
          {% if rowType == 'full' %}
            <div class="col-lg-4"></div>
            </div><!-- /.row -->
          {% endif %}


        {% endfor %}
