      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/logo.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">What is Monochrome Collective? <span class="text-muted">And what is going on?</span></h2>
          <p class="lead">Monochrome Collective is an initiative from several international fashion designers to promote young talent on the fashion industry in London. To achieve this, londoners will have a unique opportinity to explore new designs and garments away from the overcrowded and expensive London catwalks: <a href="/the-popup-store.html">The Monochrome Collective Pop Up Store</a> and <a href="/the-event.html">The Monochrome Collective Event</a>.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">The Pop Up Store <span class="text-muted">... how do I get there?</span></h2>
          <p class="lead"><a href="/the-popup-store.html">The Pop Up Store</a> will be hosted by <a href="http://www.camdencollective.co.uk/">Camden Collective</a> during the week of *******.</p>
        </div>
        <div class="col-md-5">
          <div class="map featurette-image img-responsive" id="google-map"></div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/dj.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">The Event. <span class="text-muted">The best way to live and breath fashion.</span></h2>
          <p class="lead">On the Openning of the Pop Up Store, the Monochrome Collective will launch the <a href="/the-event.html">The Monochrome Collective Event</a>. Come by to meet designers, photographers, models and other members of the industry and experience one of the most exiting events of the year. Get lost among the garments, sketchbooks and patterns while enjoying the music of our DJ. Plus... if you come wearing <span>Monochrome</span>, you get a complimentary welcome drink.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->