    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <div itemprop="telephone"><a href="tel:{{site.phone | | replace: ' ', '' }}" class="navbar-toggle visible-xs"><img src="/img/phone.png"></img></a></div>
              <div itemprop="email"><a href="mailto:{{site.email}}" class="navbar-toggle visible-xs"><img src="/img/mail.png"></img></a></div>

              <a class="navbar-brand" href="{{ site.baseurl }}" itemprop="name legalName">{{ site.title }}</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li {% if page.navbar == "popup" %} class="active" {% endif %} ><a href="/">The Pop Up Store</a></li>
                <li {% if page.navbar == "event" %} class="active" {% endif %} ><a href="/event">The Event</a></li>
                <li {% if page.navbar == "designers" %} class="active" {% endif %} ><a href="/designers">Designers</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact Us<b class="caret"></b></a>
                    <ul class="dropdown-menu" itemprop="address" style="min-width:240px;padding:5px;">
                      <li><span>Email: <span itemprop="email"><a href="mailto:{{site.email}}">{{site.email}}</a></span><span></span></span></li>
                      <li><span>Phone: <span itemprop="telephone"><a href="tel:{{site.phone | | replace: ' ', '' }}">{{site.phone}}</a></span><span></span></span></li>
                        <li><span itemprop="streetAddress">26 Camden High Street<span></span></span></li>
                        <li><span>Camden</span></li>
                        <li><span itemprop="addressLocality">London</span></li>
                        <li><span itemprop="postalCode">NW1 0JH</span></li>
                        <li style="display:none"><span itemprop="addressCountry">United Kingdom</span></li>
                      <!-- //TODO
                      <li class="divider"></li>
                      <li><a href="contacto.html">Mas detalles</a></li>
                      -->
                    </ul>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>