<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Monochrome Collective">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- == BOOTSTRAP == -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->

    <!-- == CAROUSEL == -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">    
    <link rel="stylesheet" href="{{ "/css/carousel.css" | prepend: site.baseurl }}">    

  </head>
  <body>

    <div id="fb-root"></div>

	{% include carousel/navbar.html %}

  <div class="carousel-inner">
    <div class="item row active">
      <img src="{{ "/img/design/" | append: page.bannerImage | prepend: site.baseurl }}" alt="{{ page.name }}">
    </div>
  </div><!-- /.carousel -->

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container marketing">

    <div class="row">
        <div class="col-md-3">
          <img class="img-responsive designer-image" src="{{ "/img/design/" | append: page.designImage | prepend: site.baseurl }}" alt="{{ page.name }}">
        </div>
        <div class="col-md-9">
          <h1>{{ page.name }}</h1>

          <div class="social-media">
            {% if page.twitterHandle %}
            <a href="https://twitter.com/{{ page.twitterHandle }}" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @{{ page.twitterHandle }}</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            {% endif %}

            {% if page.facebookPage %}
            <div class="fb-follow" data-href="{{ page.facebookPage }}" data-colorscheme="light" data-layout="button" data-show-faces="true"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

            {% endif %}

          </div>

          <h2>{{ page.teaserText }}</h2>

          {{ content }}
        </div>
  </div>

  {% include carousel/footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	  <!-- Latest compiled and minified JavaScript -->
	  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ "/js/holder.js" | prepend: site.baseurl }}"></script>
    <!-- Custom scripts for Monochrome Collective -->
    <script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="{{ "/js/map.js" | prepend: site.baseurl }}"></script>

  </body>
</html>


